#sidebar-right,
.scrolltop,
#footer,
#block-tara-local-tasks,
#block-tara-page-title,
#breadcrumb,
.full-page-search,
.main-menu,
#header,
#block-seven-page-title {
    display: none;
}

@page {
    size: auto;
    margin:0;
}
