.layout-region-node-secondary {
    width: 25%;
}
.layout-region-node-main {
    width: 75%;
}

.add-single-item-into-order {
    /*float: left;
    margin-right: 0.4em;*/
    margin-right: 0.5em;
    overflow: auto;
    display: inline-block;
}

#edit-storage-select{
    margin-right: 0.5em;
    margin-bottom:0.5em;
    overflow: auto;
    display: inline-block;
}

.add-quantity {
    /*float: left;
    margin-right: 0.4em;
    max-width: 6em;*/
    margin-right: 0.5em;
    overflow: auto;
    display: inline-block;
    /*max-width: 6em;*/
}

.add-single-item-into-order-button {
    /*float: left;
    margin-top: 2.5em;*/
    margin-bottom: 1em;
    overflow: auto;
    display: inline-block;
}

.to-sell-item-list-by-all, .to-sell-item-list-by-product {
    margin-left: 1em;
    margin-bottom: 1em;
    overflow: auto;
    display: inline-block;
}

.add-item-status-label {
    float: left;
    padding-top: 0.1em;
    margin-top: 0.1em;
}

.add-item-status-message {
    padding-top: 0.1em;
    margin-top: 0.1em;
    display: list-item;
}

.to-sell-item-list {
    float: left;
    /*margin-top: 0.5em;*/
    margin-left: 1em;
}

table#sales-oder-table-header{
    margin-bottom: 0.1em;
    line-height: 1.1;
    
}

table#sales-oder-table-footer td,
table#sales-oder-table-header td{
    border: 0;
}

tr.sales-oder-table-list-bottom td{
    border-bottom: 1px solid black;
}

table#sales-oder-table-list{
    line-height: 1.1;
    margin-bottom: 0.1em;
    font-size: 13px;
}

tr#sales-oder-table-header-tpy-name,
tr#sales-oder-table-header-status {
    font-size: 22px;
}

tr#sales-oder-table-header-sell-info,
tr#sales-oder-table-header-tpy-phone,
tr#sales-oder-table-header-tpy-add {
    font-size: 13px;
}

#sales-oder-table-comment,
table#sales-oder-table-footer{
    line-height: 1.1;
    font-size: 13px;
    margin-bottom: 0em;
}

#sales-oder-table-comment pre{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
    border: 0px;
}

#views-exposed-form-create-content-button {
    float: right;
}

#edit-field-shipping-received-date-0-value,
#edit-field-inbound-date-0-value,
#edit-field-created-date-0-value, 
#edit-field-return-date-0-value, 
#edit-field-completed-date-0-value,
#edit-field-appraise-date-0-value,
#edit-field-shipping-date-0-value,
#cke_1_bottom, #edit-field-rich-comment-0-format, 
.form-item-field-rich-comment-0-format {
    display:none;
}

#edit-field-shipping-received-date-0-value--description,
#edit-field-inbound-date-0-value-value--description,
.original-sale, 
#edit-field-created-date-0-value--description,
#edit-field-return-date-0-value--description, 
#edit-field-completed-date-0-value--description,
#edit-field-appraise-date-0-value--description,
#edit-field-shipping-date-0-value--description {
    margin-bottom:5px;
}

.purchase-bill-link,
.original-sale,
.bill-link {
    font-size: inherit;
    font-weight: bold;
}

/*.js-form-item-sell-no,*/
.js-form-item-customer {
    clear:both;
}

div.js-form-item-field-shipping-date-value-max label,
div.js-form-item-field-shipping-date-value-min label,
div.js-form-item-field-completed-date-value-min label,
div.js-form-item-field-inbound-date-value-min label,
div.js-form-item-field-shipping-received-date-value-min label,
div.js-form-item-field-shipping-received-date-value-max label,
div.js-form-item-field-inbound-date-value-max label,
div.js-form-item-field-completed-date-value-max label,
div.js-form-item-return-date-max label,
div.js-form-item-completed-date-max label,
div.js-form-item-shipping-date-max label,
div.js-form-item-appraise-date-max label,
div.js-form-item-field-expected-receive-payment-value-max label,
div.js-form-item-field-actual-received-payment-value-max label,
div.js-form-item-return-date-min label,
div.js-form-item-completed-date-min label,
div.js-form-item-shipping-date-min label,
div.js-form-item-appraise-date-min label,
div.js-form-item-field-expected-receive-payment-value-min label,
div.js-form-item-field-actual-received-payment-value-min label {
    text-indent: -9999px;
    line-height: 0;
}

div.js-form-item-field-shipping-date-value-min label:after,
div.js-form-item-field-completed-date-value-min label:after,
div.js-form-item-field-inbound-date-value-min label:after,
div.js-form-item-field-shipping-received-date-value-min label:after,
div.js-form-item-return-date-min label:after,
div.js-form-item-completed-date-min label:after,
div.js-form-item-shipping-date-min label:after,
div.js-form-item-appraise-date-min label:after,
div.js-form-item-field-expected-receive-payment-value-min label:after,
div.js-form-item-field-actual-received-payment-value-min label:after {
    content: "起始日";
    text-indent: 0;
    display: block;
    line-height: initial;
}

div.js-form-item-field-shipping-date-value-max label:after,
div.js-form-item-field-shipping-received-date-value-max label:after,
div.js-form-item-field-inbound-date-value-max label:after,
div.js-form-item-field-completed-date-value-max label:after,
div.js-form-item-return-date-max label:after,
div.js-form-item-completed-date-max label:after,
div.js-form-item-shipping-date-max label:after,
div.js-form-item-appraise-date-max label:after,
div.js-form-item-field-expected-receive-payment-value-max label:after,
div.js-form-item-field-actual-received-payment-value-max label:after {
    content: "結速日";
    text-indent: 0;
    display: block;
    line-height: initial;
}

div.purchase-bill-link,
div.bill-link, 
div.deposite,
div.discount,
div.total-amount-without-tax,
div.tax,
div.total-amount-with-tax,
div.remain-amount,
div.expected-recevied-payment,
div.write-off-amount {
    padding-bottom:7px;
}

div#edit-moderation-state-0-current label,
div.js-form-item-moderation-state-0-state label {
    text-indent: -9999px;
    margin-top: -50px;
}

div#edit-moderation-state-0-current label:after {
    font-weight: bold;
    content: "目前狀態:";
    text-indent: 0;
    display: block;
}

div.js-form-item-moderation-state-0-state label:after {
    font-weight: bold;
    content: "改變至:";
    text-indent: 0;
    display: block;
}

